.ForgotPassword .Img{
    width: 150px;
    height: 150px;
}

.ForgotPassword .card{
    border: 3px solid #041C32;
    border-radius: 10px !important;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.ForgotPassword .forgotT{
    color: #041C32;
    font-weight: bold;

}

.ForgotPassword .reset{
    font-weight: bold;
    font-size: 16px;
    color: #04293A;
}

.ForgotPassword .Imgs{
    width: 25px;
    height: 25px;
}

.ForgotPassword input{
    border: none;
}

.ForgotPassword .icon{
    border-right: none;
    border-top: 2px solid #041C32;
    border-bottom: 2px solid #041C32;
    border-left: 2px solid #041C32;
    border-radius: 10px 0px 0px 10px;

}

.ForgotPassword .inp{
    border-left: none;
    border-top: 2px solid #041C32;
    border-bottom: 2px solid #041C32;
    border-right: 2px solid #041C32;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ForgotPassword .inp:focus{
    border-left: none;
    border-top: 2px solid #041C32;
    border-bottom: 2px solid #041C32;
    border-right: 2px solid #041C32;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ForgotPassword .get{
    color: white;
    background-color: #041C32;
    border-radius: 8px;
    width:60%;
    font-weight: bold;
}
.ForgotPassword .get:hover{
    color: #041C32;
    background-color: #ECB365;
}
