.footer #footer {
    background-color: #041C32;
    width: 100%;
    overflow-x: hidden;
}

.footer #copyright {
    background-color: #041C32;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.footer Img{

    width: 300px;
    height: 350px;
}

.footer .imgs{

    width: 30px;
    height: 30px;

}

.footer .imgss{

    width: 20px;
    height: 20px;

}

.footer .info{
    color: #ECB365;
    font-weight: bold;
    cursor: pointer;
}

.footer .info:hover{
    color: white;
}


.footer .imgs:hover{
    transform: scale(1.1);
}

.footer .cinema{
    font-size: 60px;
    text-align: center;
    margin-top: 60px;
}


.footer #follow {

    color: white;
    margin-top: 80px;
    font-family: 'Salsa', cursive;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}


.footer #btns {
    background-color: #364F6B;
    border: none;
    border-radius: 100%;
}


.footer .txt {

    font-family: 'Inter', sans-serif;
    font-size: 54px;
    text-align: center;
    margin-top: 70px;
}

.footer .orson{
    font-family: 'Salsa', cursive;
}

@media screen and (max-width: 1477px){

    .footer .txt {
        font-size: 52px;
        margin-top: 70px;
    }

}

@media screen and (max-width: 1200px){

    .footer .txt {
        font-size: 44px;
        margin-top: 70px;
    }
    .footer Img{

        width: 250px;
        height: 300px;
    }

    .footer #follow {
        font-size: 25px;
        margin-top: 90px;
    }

    .footer .info{
        font-size: 10px;

    }


}

@media screen and (max-width: 768px){

    .footer .txt {
        font-size: 44px;
        margin-top: 70px;
    }
    .footer Img{

        width: 250px;
        height: 300px;
    }

    .footer #follow {
        font-size: 25px;
        margin-top: 100px;
    }

    .footer .info{
        font-size: 15px;

    }


}

