.ReservationCard .card{
    max-width: 1200px;
    border: 2px solid #041C32;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ReservationCard .card:hover{
    transform: scale(1.01);
}

.ReservationCard .Img{
    height: 400px;
    padding: 10px;
}

.ReservationCard .card-title{
    color: #041C32;
    font-weight: bold !important;
}

.ReservationCard .status{
    float: right !important;
    margin-top: 8px;
    font-weight: bold;
    color: #ECB365;
}

.ReservationCard .dName{
    font-weight: bold;
}

.ReservationCard .btnCancel{
    float:right;
    margin-right: 20px;
    background-color: #041C32;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

.ReservationCard .btnCancel:hover{

    background-color: #ECB365;
    color: #041C32;
    font-weight: bold;
}

@media (max-width: 768px) {
    .ReservationCard .Img{
        width: 100%;
        object-fit: contain;
    }

    .ReservationCard .btnCancel{
        margin-bottom: 20px;
    }

    .ReservationCard .col-md-4{
        text-align: center;
    }


    .ReservationCard .status{
        margin-top: -2px;
    }
}

@media (max-width: 360px) {
    .ReservationCard .card{
        margin-left: 30px;
    }

    .ReservationCard .status{
        margin-top: 8px;
        font-size: 12px;
    }
    .ReservationCard .dName{
        font-size: 12px;
    }

    .ReservationCard .card-title{
        font-size: 20px !important;
    }
}


@media (max-width: 335px) {
    .ReservationCard .card{
        margin-right: -40px;
    }
}


@media (max-width: 300px) {
    .ReservationCard .card{
        margin-right: -80px;
    }
}