.ProductionHeader .navl {
    height: 150px;
    width: 300px;
    margin-left: 20px;
}

.ProductionHeader .navbar {
    background-color: #041C32;
    width: 95%;
    margin: 50px auto;
    margin-top: -1px;

}

.ProductionHeader .navbar-brand {
    color: white;
    font-weight: bold;
}

.ProductionHeader .navbar-brand:hover {
    color: white;
    font-weight: bold;
}

.ProductionHeader .nav-link {
    color: white !important;
    font-weight: bold !important;
}

.ProductionHeader .nav-link:hover {
    color: #ECB365 !important;
    font-weight: bold !important;
    text-decoration: underline;
}


.ProductionHeader .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.ProductionHeader .navbar-toggler {
    border-color: rgb(255, 255, 255);
}


.ProductionHeader .user {
    height: 60px;
    width: 60px;
}

.ProductionHeader .uname {
    font-weight: bold;
    color: #064663;
    text-decoration: underline;
}


.ProductionHeader .userr {
    float: right;
    margin-top: 70px;
    margin-right: 40px;
}


.ProductionHeader .cartb {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .ProductionHeader .navl {
        width: 200px;
        height: 100px;
        margin-left: 15px;
        margin-top: 40px;
    }

    .ProductionHeader .userr {
        margin-right: 20px;
    }


}

@media screen and (max-width: 920px) {
    .ProductionHeader .cart {
        margin-left: 5px;

    }
}

@media screen and (max-width: 400px) {

    .ProductionHeader .navl {
        width: 180px;
        height: 100px;
        margin-left: 15px;
        margin-top: 40px;
    }

    .ProductionHeader .user {
        height: 50px;
        width: 50px;
    }

}

@media screen and (max-width: 368px) {

    .ProductionHeader .navl {
        width: 150px;
        height: 100px;
        margin-left: 15px;
        margin-top: 40px;
    }

    .ProductionHeader .user {
        height: 40px;
        width: 40px;
    }

    .ProductionHeader .userr {
        margin-top: 80px;
    }

}

@media screen and (max-width: 335px) {

    .ProductionHeader .navl {
        margin-top: 5px;
    }

    .ProductionHeader .user {
        height: 30px;
        width: 30px;
    }

    .ProductionHeader .userr {
        float: right;
        margin-top: 55px;
        margin-right: 10px;
    }

    .ProductionHeader .navl {
        height: 120px;
        width: 120px;
        margin-left: 5px;
    }


}